
<div> 

<br> 

<ul>

    <li>
        <div class="navItem row">
            <div class="col-md-3">
                <img class="navItemImage" src="../../assets/imgs/navHomeIcon.png"/>    
            </div>
            <div class="col-md-6"> Home </div>
        </div>
    </li>
    <li>
        <div class="navItem row">
            <div class="col-md-3">
                <img class="navItemImage" src="../../assets/imgs/navTrendingIcon.png"/>
            </div>
            <div class="col-md-6"> Trending </div>
        </div>
    </li>
    <li>
        <div class="navItem row">
            <div class="col-md-3">
                <img class="navItemImage" src="../../assets/imgs/navSubscriptionsIcon.png">
            </div>
            <div class="col-md-6"> Subscriptions </div>
        </div>
    </li>

</ul>

<hr> 

<ul>
    <li>
        <div class="navItem row">
            <div class="col-md-3">
                <img class="navItemImage" src="../../assets/imgs/navLibraryIcon.png">
            </div>
            <div class="col-md-6"> Library </div>
        </div>
    </li>
    <li>
        <div class="navItem row">
            <div class="col-md-3">
                <img class="navItemImage" src="../../assets/imgs/navHistoryIcon.png">
            </div>
            <div class="col-md-6"> History </div>
        </div>
    </li>
</ul> 

<hr> 

<div class="row">
    <div class="col-md-12">
        <p class="navSignInText"> Sign in to like videos, comment, and subscribe </p>
    </div>
</div>


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <app-sign-in-button class="navSignInButton"></app-sign-in-button>
    </div>
</div>


<hr>

<h4 class="bestOfYoutubeHeading"> BEST OF YOUTUBE </h4>


<ul>
    <li>
        <div class="navItem row">
            <div class="col-md-3">
                <img class="navItemImage" src="../../assets/imgs/navMusicIcon.png">
            </div>
            <div class="col-md-6"> Music </div>
        </div>
    </li>
    <li>
        <div class="navItem row">
            <div class="col-md-3">
                <img class="navItemImage" src="../../assets/imgs/navSportsIcon.png">
            </div>
            <div class="col-md-6"> Sports </div>
        </div>
    </li>
    <li>
        <div class="navItem row">
            <div class="col-md-3">
                <img class="navItemImage" src="../../assets/imgs/navGamingIcon.png">
            </div>
            <div class="col-md-6"> Gaming </div>
        </div>
    </li>
    <li>
        <div class="navItem row">
            <div class="col-md-3">
                <img class="navItemImage" src="../../assets/imgs/navGamingIcon.png">
            </div>
            <div class="col-md-6"> Gaming </div>
        </div>
    </li>
    <li>
        <div class="navItem row">
            <div class="col-md-3">
                <img class="navItemImage" src="../../assets/imgs/navMusicIcon.png">
            </div>
            <div class="col-md-6"> Music </div>
        </div>
    </li>
    <li>
        <div class="navItem row">
            <div class="col-md-3">
                <img class="navItemImage" src="../../assets/imgs/navMoviesIcon.png">
            </div>
            <div class="col-md-6"> Movies </div>
        </div>
    </li>
    <li>
        <div class="navItem row">
            <div class="col-md-3">
                <img class="navItemImage" src="../../assets/imgs/navTVIcon.png">
            </div>
            <div class="col-md-6"> TV Shows </div>
        </div>
    </li>
    <li>
        <div class="navItem row">
            <div class="col-md-3">
                <img class="navItemImage" src="../../assets/imgs/navNewsIcon.png">
            </div>
            <div class="col-md-6"> News </div>
        </div>
    </li>
    <li>
        <div class="navItem row">
            <div class="col-md-3">
                <img class="navItemImage" src="../../assets/imgs/navLiveIcon.png">
            </div>
            <div class="col-md-6"> Live </div>
        </div>
    </li>
    <li>
        <div class="navItem row">
            <div class="col-md-3">
                <img class="navItemImage" src="../../assets/imgs/navFashionIcon.png">
            </div>
            <div class="col-md-6"> Fashion </div>
        </div>
    </li><li>
        <div class="navItem row">
            <div class="col-md-3">
                <img class="navItemImage" src="../../assets/imgs/navLearningIcon.png">
            </div>
            <div class="col-md-6"> Learning </div>
        </div>
    </li>
    <li>
        <div class="navItem row">
            <div class="col-md-3">
                <img class="navItemImage" src="../../assets/imgs/nav360Icon.png">
            </div>
            <div class="col-md-6"> 360 Video </div>
        </div>
    </li>
</ul> 

<hr>

<ul>
    <li>
        <div class="navItem row">
            <div class="col-md-3">
                <img class="navItemImage" src="../../assets/imgs/navBrowseIcon.png">
            </div>
            <div class="col-md-6"> Browse Channels </div>
        </div>
    </li>
</ul> 

<hr> 

<h4 class="bestOfYoutubeHeading"> MORE FROM YOUTUBE </h4>


<ul>
    <li>
        <div class="navItem row">
            <div class="col-md-3">
                <img class="navItemImage" src="../../assets/imgs/navYoutubeIcon.png">
            </div>
            <div class="col-md-6"> Youtube Premium </div>
        </div>
    </li>
    <li>
        <div class="navItem row">
            <div class="col-md-3">
                <img class="navItemImage" src="../../assets/imgs/navLiveIcon.png">
            </div>
            <div class="col-md-6"> Live </div>
        </div>
    </li>
</ul> 

<hr> 

<ul>
    <li>
        <div class="navItem row">
            <div class="col-md-3">
                <img class="navItemImage" src="../../assets/imgs/navSettingsIcon.png">
            </div>
            <div class="col-md-6"> Setings </div>
        </div>
    </li>
    <li>
        <div class="navItem row">
            <div class="col-md-3">
                <img class="navItemImage" src="../../assets/imgs/navReportIcon.png">
            </div>
            <div class="col-md-6"> Report History </div>
        </div>
    </li>
    <li>
        <div class="navItem row">
            <div class="col-md-3">
                <img class="navItemImage" src="../../assets/imgs/navHelpIcon.png">
            </div>
            <div class="col-md-6"> Help </div>
        </div>
    </li>
    <li>
        <div class="navItem row">
            <div class="col-md-3">
                <img class="navItemImage" src="../../assets/imgs/navSendFeedbackIcon.png">
            </div>
            <div class="col-md-6"> Send Feedback </div>
        </div>
    </li>
</ul> 

<hr>


<p class="llc"> 2020 Youtube clone </p>


</div>

