

<h3 class="loginPageText"> Register </h3>
<p class="loginPageText subHeading" > Create an account for the greatest video sharing site on the planet </p>

<input type="text" placeholder="Username" class="form-control loginInput"/>
            
<input type="password" placeholder="Password" class="form-control loginInput" />
<br>
<button (click)="login()" class="loginButton"> Register </button>

<p class="loginText"> Have an account? Login in <span class="login" (click)="login()"> here</span> </p>
