
<ul>

    <li>
        <div class="navItem">
            <img class="navItemImage" src="../../assets/imgs/navHomeIcon.png"/>    
            <p>Home</p> 
        </div>
        <div class="navItem">
            <img class="navItemImage" src="../../assets/imgs/navTrendingIcon.png"/>    
            <p>Trending</p> 
        </div> 
        <div class="navItem">
            <img class="navItemImage" src="../../assets/imgs/navSubscriptionsIcon.png"/>    
            <p>Subscriptions</p> 
        </div>
        <div class="navItem">
            <img class="navItemImage" src="../../assets/imgs/navLibraryIcon.png"/>    
            <p>Library</p> 
        </div>
        <div class="navItem">
            <img class="navItemImage" src="../../assets/imgs/navHistoryIcon.png"/>    
            <p>History</p> 
        </div>
    </li>

</ul>
