

<h3 class="loginPageText"> Login </h3>
<p class="loginPageText subHeading" > Login to the greatest video sharing site on the planet </p>

<input type="text" placeholder="Username" class="form-control loginInput"/>
            
<input type="password" placeholder="Password" class="form-control loginInput" />
<br>

<!--
<p *ngIf="errorMsg" class="errorMsg"> Incorrect username or password. </p> 
-->

<button (click)="login()" class="loginButton"> Login </button>

<p class="signUpText"> Don't have an account? Sign up <span class="signUp" (click)="signUp()"> here</span> </p>
